<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>local-video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='filter.css') }}">
</head>
<body>
    <div class="directory-tree">
        {% for directory, videos in directory_tree.items() %}
            <div class="directory">
                <h2 class="path-main">
                    {% set path_parts = directory.split('/') %}
                    {% if path_parts|length > 2 %}
                        <span class="dir">{{ path_parts[0] }} / {{ path_parts[1] }}</span>
                        <span class="subdir">{{ path_parts[2:]|join('/') }}</span>
                    {% else %}
                        <span class="dir">{{ path_parts[0] }}</span>
                        <span class="subdir">{{ path_parts[1:]|join('/') }}</span>
                    {% endif %}
                </h2>
                <div class="gallery gallery-5">
                    {% for video in videos %}
                        <div class="gallery-item">
                            <a href="{{ url_for('play_video', filename=video) }}" target="_blank">
                                {% if video in video_thumbnails and video_thumbnails[video] %}
                                    <img class="thumbnail" 
                                         src="{{ url_for('serve_thumbnail', filename=video_thumbnails[video][0]) }}" 
                                         alt="Video Thumbnail" 
                                         data-thumbnails="{{ video_thumbnails[video] | join(',') }}">
                                {% else %}
                                    <img class="thumbnail" src="{{ url_for('serve_thumbnail', filename=default-thumbnail.jpg) }}" alt="No Thumbnail">
                                {% endif %}
                                
                                <div class="overlay">
                                    <div class="file-name">{{ video.split('/')[-1] }}</div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="floating-buttons">
        <button onclick="setGridColumns(3)">III</button>
        <button onclick="setGridColumns(5)">V</button>
        <button onclick="setGridColumns(10)">X</button>
        <button onclick="setGridColumns(20)">!</button>
        <a href="{{ url_for('index') }}"><button>?</button></a>
    </div>

    <script>
        function setGridColumns(columns) {
            const gallery = document.querySelector('.gallery');
            gallery.style.gridTemplateColumns = `repeat(${columns}, 1fr)`;

            gallery.classList.remove('gallery-3', 'gallery-5', 'gallery-10', 'gallery-20');
            gallery.classList.add(`gallery-${columns}`);
        }

        document.querySelectorAll('.thumbnail').forEach(thumbnail => {
            const thumbnailsList = thumbnail.dataset.thumbnails.split(',');
            let currentIndex = 0;
            let interval;

            thumbnail.addEventListener('mouseover', () => {
                interval = setInterval(() => {
                    currentIndex = (currentIndex + 1) % thumbnailsList.length;
                    thumbnail.src = `/_thumbnails/${thumbnailsList[currentIndex].trim()}`;
                }, 500);
            });

            thumbnail.addEventListener('mouseout', () => {
                clearInterval(interval);
                thumbnail.src = `/_thumbnails/${thumbnailsList[0].trim()}`;
            });
        });
    </script>
</body>
</html>
