<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>local-video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="gallery gallery-5">
        {% for video in videos %}
            {% if thumbnails[video] %}
                {% set directory_name, file_name = video.rsplit('/', 1) %}
                <div class="gallery-item">
                    <a href="{{ url_for('play_video', filename=video) }}" target="_blank">
                        <img src="{{ url_for('serve_thumbnail', filename=thumbnails[video]) }}" alt="Video Thumbnail">
                        <div class="overlay">
                            <div class="directory-name">{{ directory_name }}</div>
                            <div class="file-name">{{ file_name }}</div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="floating-buttons">
        <button onclick="setGridColumns(3)">III</button>
        <button onclick="setGridColumns(5)">V</button>
        <button onclick="setGridColumns(10)">X</button>
        <a href="{{ url_for('directory', subdir='') }}">
            <button>+</button>
        </a>
    </div>

    <script>
        function setGridColumns(columns) {
            const gallery = document.querySelector('.gallery');
            gallery.style.gridTemplateColumns = `repeat(${columns}, 1fr)`;

            gallery.classList.remove('gallery-3', 'gallery-5', 'gallery-10');
            gallery.classList.add(`gallery-${columns}`);
        }
    </script>
</body>
</html>