<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bg-light">
<div class="container my-5">
    <h1 class="text-center">Video Gallery</h1>
    <div class="row">
        {% for video in videos %}
        <div class="col-md-2 mb-4">
            <div class="card">
                <a href="{{ url_for('play_video', filename=video) }}" target="_blank">
                    <video class="card-img-top" src="{{ url_for('serve_video', filename=video) }}" controls muted></video>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>