<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>local-video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='player.css') }}">
</head>
<body>
    <div id="video-container">
        <video id="video-player" controls autoplay muted>
            <source src="{{ url_for('serve_video', filename=video_path) }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const video = document.getElementById('video-player');
            video.play();
        });
    </script>
</body>
</html>